@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

.test{
    border:1px solid red;
}
.custom-padding{
    @apply w-full px-1 py-4 md:px-16 lg:px-24;
}
.card-bg{
    @apply bg-white/20 backdrop-blur-lg p-4 rounded-[1.5rem];
}

.weather-forcast-card{
    @apply bg-white/10 backdrop-blur-lg py-4 px-8 cursor-pointer rounded-[1.5rem] smooth-transition text-white mr-4;
}

.weather-forcast-card--clicked{
    @apply bg-white/75 hover:bg-white rounded-[1.5rem] py-4 px-8 cursor-pointer smooth-transition mr-4;
}

.smooth-transition{
    transition: all 0.3s ease-in-out;
}

.switched-off{
    @apply bg-white/20 hover:bg-gray-300 smooth-transition text-gray-400 px-4 py-2;
}

.switched-on{
    @apply bg-purple-500 text-white px-4 py-2 font-semibold shadow-md;
}